$color-sassy: #000;
$cover-font: 'Princess Sofia';
$card-font: 'Alegreya Sans';

/* princess-sofia-regular - latin */
@font-face {
  font-family: $cover-font;
  font-style: normal;
  font-weight: 400;
  src: local('Princess Sofia'), local('PrincessSofia'),
       url('./fonts/princess-sofia-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/princess-sofia-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* alegreya-sans-regular - latin */
@font-face {
  font-family: $card-font;
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'),
       url('./fonts/alegreya-sans-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/alegreya-sans-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-900 - latin */
@font-face {
  font-family: $card-font;
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Sans Black'), local('AlegreyaSans-Black'),
       url('./fonts/alegreya-sans-v10-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/alegreya-sans-v10-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body, * {
    background: $color-sassy;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.cover {
    font-family: $cover-font;
    letter-spacing: .1em;
    color: white;
    font-size: 5em;
    user-select: none;
    text-shadow: -1px 0 hotpink, 0 3px hotpink, 1px 0 hotpink, 0 -5px black;
    display: flex;
    align-items: center;
    height: 100vh;
}

.game {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: center;
}

.card {
    height: 150px;
    width: 150px;
    margin: .5em;
    border-radius: 1.5em;
    text-align: center;
    border: 2px solid #ff990050;
    &:hover {
        border: 2px solid #999;
    }
}

.face {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px solid #ffffff05;
    &:hover {
        border: 2px solid #00000000;
    }
}

.face p {
    font-family: $card-font;
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    color: white;
    background: none;
    letter-spacing: .05em;
    -webkit-text-stroke: .025em black;
    user-select: none;
}

.back {
    background: #999;
    &:hover {
        border-color: #fff;
    }
}

.found {
    background: none;
    border-color: transparent;
    &:hover {
        border: 2px $color-sassy;
    }
}

.try-again {
    color: white;
}